@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
}

.nav-link:hover {
  color: #6b0707;
}

.bg-light-grey {
  background-color: #5c5c5c;
}

.hero {
  background-image: url("../imagenes/desarrollo-de-software.jpg");
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: white;
}

a:hover {
  text-decoration: none;
}

.topmargin-xs {
  margin-top: 15px;
}

.topmargin-sm {
  margin-top: 30px;
}

.topmargin-lg {
  margin-top: 60px;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.h1-index {
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}

.p1-index {
  font-size: 18px;
  color: grey;
  line-height: 1.8;
  margin-bottom: 0;
  padding-top: 80px;
}

.hero .p1-index {
  color: white;
}

.h2-2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.sobreNosotros {
  padding: 120px 0;
}

.imagenes-2 {
  position: relative;
  overflow: hidden;
  margin: 10px 100px;
  border-radius: 2px;
}

.imagenes-2-detalles {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.imagenes-2-detalles a h2,
.imagenes-2-detalles a p {
  color: #fff;
}

.imagenes-2 img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.imagenes-2:hover img {
  -webkit-transform: scale 1.2;
  transform: scale(1.2);
}

.text-dark {
  color: black;
}

@media (max-width: 575.98px) {
  .h1-index {
    font-size: 40px;
    line-height: normal;
  }
}
